.link-icon {
    padding-right: 12px;
}

.link-icon-twitter {
    color: #1ea0f3;
}



.link-navbar .link-container-twitter .link-brand-twitter  {
    margin-left: 37%;

}


.link-icon:hover {
    color: #1ea0f3;
}

.navbar-brand:hover {
    color: #1ea0f3;
}

.link-navbar {
    box-shadow: none;
    padding-top: 0;
    background-color: transparent;
}

.container-fluid {
    justify-content: end;
}

.link-navbar .link-container {
    justify-content: center;
}

