.col-md {
    padding: 0 0;
}

.btn-primary {
    background-color: #1ea0f1;
    border-radius: 2rem;
}

.col-navbar {
    border-right: thin solid;
    border-color: #d8dadb;
}


.col-hashtages {
    border-left: thin solid;
    border-color: #d8dadb;
}